@font-face{
 font-family:"lemon-jelly";
  src: url("./fonts/LemonJellyPersonalUse-dEqR.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #2F4F4F;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.58;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 6px 0 6px 20px;
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 2px;
      font-family: 'Abril Fatface', cursive;
}

nav {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 80px;
  padding-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #000000;
  background: -webkit-linear-gradient(59deg, #000000, #696969);
  background: linear-gradient(59deg, #000000, #696969);
      /* background-color: #000000; */
}


nav .logo img{
 width: 80px;
 height: 70px;
}

@media(max-width: 1024px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

}

.title-block{
 width: 100%;
 margin-bottom: 100px;
}

.main-title {
  color:#fff;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin: 0;
}

.sub-title {
  margin:0;
  font-size: 32px;
  letter-spacing: 1.5px;
  font-size: 32px;
  text-align: center;
  color: #000000;
}

#front-text p {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

.image-block img {
  width: 100%;
  height: 650px;
  border-radius: 10px;
}

@media(max-width: 1024px) {
  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }
}

.message-block {
  padding-top: 10%;
  padding-left: 5%;
}

.message-block h1{
  color: #800000;
  margin-left: 60px;
  text-align: center;
}

.message-block p {
  font-size: 30px;
}

.row {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

hr {
  border:none;
  height: 20px;
 	width: 60%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
  margin: -50px auto 10px;
}

.contact-block {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	font-size: 22px;
	margin: 110px 0;
	padding:30px;
	border-radius:8px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
 pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input,
.input-container textarea{ 
  border:0;
  border-bottom:1px solid #555;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  border-radius: 5px;
}
.input-container input:focus, .input-container textarea:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}


footer{
 position: absolute;
 width: 100%;
 overflow: auto;
 background: #000000;
 background: -webkit-linear-gradient(59deg, #000000, #696969);
 background: linear-gradient(59deg, #000000, #696969);
 color: white;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
};